<footer class="pt-16 sm:pt-20 md:pt-24 lg:pt-28 xl:pt-32">
  <div class="mx-auto max-w-7xl border-t border-slate-400/10 px-4 py-10 md:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-between gap-y-6 md:flex-row">
      <p class="text-xs leading-5 text-slate-600">
        © 2024 Government Technology Agency Singapore.
      </p>
      <a
        href="#"
        class="rounded-full bg-primary px-6 py-4 font-semibold shadow-sm hover:brightness-95 active:brightness-75"
        >Contact Us</a
      >
    </div>
  </div>
</footer>
