---
import { Image } from 'astro:assets';
import LogoSense from '@assets/LogoSense.astro';
import LogoConverge from '@assets/LogoConverge.astro';
import LogoKaki from '@assets/LogoKaki.astro';
---

<section>
  <div class="mx-auto max-w-7xl px-4 md:px-6 lg:px-8">
    <div id="sense" class="scroll-mt-6">
      <LogoSense />
      <!-- <h4 class="mt-4 text-base font-bold text-primary">Sense</h4> -->
      <h3 class="tracing-tight mt-4 text-3xl font-extrabold text-slate-900 sm:text-4xl">
        Cross-database analysis made simple
      </h3>
      <p class="mt-4 max-w-3xl text-slate-600">
        <strong>Sense</strong> is a data assistant that simplifies data interaction for officers. Using
        natural language chat, officers can easily perform cross-database queries, extraction, and visualisation
        to streamline data analysis.
      </p>

      <div class="relative mt-8 aspect-video p-4 lg:p-16">
        <iframe
          class="h-full w-full rounded-lg"
          src="https://www.youtube-nocookie.com/embed/FvO5Dy94E44?si=ybDd67nQTGzNfr4w&controls=0&rel=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
        <div
          class="absolute inset-0 -z-10 bg-primary"
          style="clip-path: polygon(0% 20%, 48% 10%, 48% 2%, 100% 0%, 100% 97%, 55% 100%, 55% 96%, 2% 95%);"
        >
        </div>
      </div>
    </div>

    <ol
      role="list"
      class="-mx-3 mt-12 grid grid-cols-1 gap-y-12 lg:mt-32 lg:grid-cols-2 xl:-mx-12 xl:divide-x xl:divide-slate-400/20"
    >
      <li id="converge" class="gird scroll-mt-6 auto-rows-min grid-cols-1 gap-y-4 px-3 xl:px-12">
        <LogoConverge />
        <!-- <h4 class="mt-4 text-base font-bold text-sky-500">GovKB</h4> -->
        <h3 class="tracing-tight mt-4 text-3xl font-extrabold text-slate-900 sm:text-4xl">
          A second brain for WOG knowledge management
        </h3>
        <p class="mt-4 max-w-3xl text-slate-600">
          <strong>Converge</strong> manages diverse knowledge sources from emails to documents on SharePoint.
          Its chat feature lets agency officers easily find information and securely share it across
          government teams, facilitating knowledge sharing and improving Whole-of-Government coordination.
        </p>
      </li>
      <li id="kaki" class="gird scroll-mt-6 auto-rows-min grid-cols-1 gap-y-4 px-3 xl:px-12">
        <LogoKaki />
        <!-- <h4 class="mt-4 text-base font-bold text-purple-500">Resident Wallet</h4> -->
        <h3 class="tracing-tight mt-4 text-3xl font-extrabold text-slate-900 sm:text-4xl">
          Empowering residents with data ownership
        </h3>
        <p class="mt-4 max-w-3xl text-slate-600">
          <strong>Kaki</strong> is a personal companion for residents to manage information exchanged
          in their care journey. It facilitates seamless sharing, enables direct and independent access
          to information, and streamlines interactions between patients, caregivers, and service providers.
        </p>
      </li>
    </ol>
  </div>
</section>
