---
import type { BlogPostPreview } from '../../types/blog';
import { formatDate } from '../../utils/string';

interface Props {
  post: BlogPostPreview;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.slug}`}
  class="group relative block rounded-lg border p-6 transition-shadow hover:shadow-lg"
>
  {
    post.data.pinned && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="absolute right-4 top-4 h-6 w-6 text-blue-600"
      >
        <path
          fill-rule="evenodd"
          d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
          clip-rule="evenodd"
        />
      </svg>
    )
  }
  <article>
    <h2 class="mb-4 text-2xl font-semibold group-hover:text-blue-600">
      {post.data.title}
    </h2>
    <p class="mb-4 text-gray-600">{post.data.description}</p>
    <div class="text-sm text-gray-500">
      {formatDate(post.data.pubDate)}
    </div>
  </article>
</a>
