---
import { formatDate } from '../../utils/string';

interface Props {
  title: string;
  description?: string;
  pubDate?: Date;
}

const { title, description, pubDate } = Astro.props;
---

<header class="mb-8">
  <h1 class="mb-4 text-4xl font-bold">{title}</h1>
  {description && <p class="mb-4 text-xl text-gray-600">{description}</p>}
  {pubDate && <p class="text-sm text-gray-500">{formatDate(pubDate)}</p>}
</header>
